a, button, input[type="submit"], input[type="file"] {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
}
div{
    border: 2px solid #333;
    padding: 6px 12px;
    border-radius: 5px;
    display: inline-block;
}

a:hover, button:hover, input[type="submit"]:hover, input[type="file"]:hover {
    background-color: #333;
    color: #fff;
}


input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
}
h1 {
    margin: 0;
}
