<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="padding: 5px; display: flex; flex-direction: column;">
    <a th:href="'/posts/'+${post.getPost_id()}">BACK</a>
    <a th:href="'/profile/'+${post.getAuthor_login()}"><h1 th:text="${post.getAuthor_username()}"></h1></a>
    <span th:text="${post.getAuthor_login()}"></span>
    <span th:text="${post.getDate()}"></span>
    <form th:action="'/posts/'+${post.getPost_id()}+'/edit/save'" method="post" enctype="multipart/form-data">
        <input type="text" th:value="${post.getText()}" name="text">
        <span>new image: </span>
        <input type="file" name="image">
        <input type="submit" value="save">
    </form>
    <span th:if="${post.hasImage()}">
                <img th:src="'data:image/jpeg;base64,' + ${post.convertToBase64()}" alt="">
            </span>
    <span th:text="'tags: '+${post.getTags()}"></span>
</div>
</body>
</html>