<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/posts">posts</a>
    <a href="/upload">upload</a>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="/my_profile">my profile</a>
    <a href="/search?tags=">search</a>
</div>
<form method="post" action="my_profile/save">
    <label>
        Username: <br/>
        <input type="text" name="username" th:value="${user.getUsername()}">
    </label>
    <br/>
    <label>
        Profile description: <br/>
        <input type="text" name="description" th:value="${user.getDescription()}">
    </label>
    <br>
    <span th:text="'My rewards: ' + ${user.getRewards()}"/>
    <br>
    <input type="submit" value="Save changes">
</form>
<form method="post" action="/logout">
    <input type="submit" value="Logout">
</form>
<span th:text="${profileError}"/>
<h1>My posts</h1>
<div th:each="post : ${posts}"  style="padding: 5px;display: flex; flex-direction: column;">
    <h1 th:text="${post.getAuthor_username()}"></h1>
    <span th:text="${post.getAuthor_login()}"></span>
    <span th:text="${post.getDate()}"></span>
    <span th:text="${post.getText()}"></span>
    <a th:href="'/posts/'+${post.getPost_id}">view post</a>
    <span th:if="${post.hasImage()}">
    <img th:src="'data:image/jpeg;base64,' + ${post.convertToBase64()}" alt="" style="width: 500px; height: 500px">
    </span>
    <span th:text="'tags: '+${post.getTags()}"></span>
</div>
</body>
</html>