<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
<div>
    <a href="/posts">BACK</a><br>
    <a th:href="'/profile/'+${post.getAuthor_login()}"><h1 th:text="${post.getAuthor_username()}"></h1></a><br>
    <span th:text="${post.getAuthor_login()}"></span><br>
    <span th:text="${post.getDate()}"></span><br>
    <span th:text="${post.getText()}"></span><br>
    <span th:if="${post.hasImage()}">
                <img th:src="'data:image/jpeg;base64,' + ${post.convertToBase64()}" alt=""><br>
            </span>
    <span th:text="'tags: '+${post.getTags()}"></span><br>
    <a th:if="${post.getAuthor_login()==currentUser.getLogin()}" th:href="'/posts/'+${post.getPost_id()}+'/edit'">edit
        post</a><br>
    <form th:if="${post.getAuthor_login()==currentUser.getLogin() || currentUser.isAdmin()}"
          th:action="'/posts/'+${post.getPost_id()}+'/delete'"
          method="post">
        <input type="submit" value="delete post"/><br>
    </form>
</div>
<div th:if="${!currentUser.isBanned()}">
    <h1 th:text="'Write comment as '+${currentUser.getUsername()}"/>
    <form th:action="'/posts/'+${post.getPost_id()}+'/comment'" method="post">
        <textarea name="text" id="text" cols="30" rows="2"></textarea>
        <p th:text="${commentError}"/>
        <input type="submit" value="comment"/>
    </form>
</div>
<br>
<div th:each="comment : ${comments}">
    <span th:text="${comment.getWriter_username()} + '  '" style="font-weight: bold"/>
    <span th:text="${comment.getDate()}"></span>
    <br>
    <span th:text="${comment.getText()}"></span>
    <br><br>
</div>
</body>
</html>