<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
<a href="/posts">BACK</a>
<br>
<span th:text="'Username: '+${user.getUsername()}"/>
<br>
<span th:text="'Login: '+${user.getLogin()}"/>
<br>
<span th:text="'Description: '+${user.getDescription()}"/>
<br>
<span th:text="'Rewards: '+${user.getRewards()}"/>
<br>
<form th:action="'/profile/'+${user.getLogin()}+'/reward'" id="rewardForm" method="post" th:if="${!currentUser.isRewarded()}">
<input type="submit" value="reward this user">
</form>
<form th:unless="${!currentUser.isRewarded()}">
    <span th:text="'You already rewarded a user'"/>
</form>
<script>
    document.getElementById("rewardForm").onsubmit = function() {
        return confirm("You can reward a user only once. Are you sure?");
    };
</script>
<form th:if="${currentUser.isAdmin()&&!user.isBanned()}" method="post" th:action="'/profile/'+${user.getLogin()}+'/ban'">
    <input type="submit" value="ban this user">
</form>
<span th:if="${user.isBanned()}" th:text="'This user is banned'"/>
<h1>Posts: </h1>
<div th:each="post : ${posts}">
    <a th:href="'/profile/'+${post.getAuthor_login()}"><h1 th:text="${post.getAuthor_username()}"></h1></a><br>
    <span th:text="${post.getAuthor_login()}"></span><br>
    <span th:text="${post.getDate()}"></span><br>
    <span th:text="${post.getText()}" class="text"></span><br>
    <a th:href="'/posts/'+${post.getPost_id}">view post</a><br>
    <span th:if="${post.hasImage()}">
    <img th:src="'data:image/jpeg;base64,' + ${post.convertToBase64()}" alt="" style="width: 500px; height: 500px"><br>
    </span>
    <span th:text="'tags: '+${post.getTags()}"></span><br>
</div>
</body>
</html>