<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
</head>
<body>
<div>
<a href="/posts">posts</a>
<form action="/search" method="get" style="display: inline-block;">
    <input type="text" name="tags" placeholder="tags">
    <input type="submit" value="search">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</form>
</div>
<div th:each="post : ${posts}">
  <a th:href="'/profile/'+${post.getAuthor_login()}"><h1 th:text="${post.getAuthor_username()}"></h1></a><br>
  <span th:text="${post.getAuthor_login()}"></span><br>
  <span th:text="${post.getDate()}"></span><br>
  <span th:text="${post.getText()}" class="text"></span><br>
  <a th:href="'/posts/'+${post.getPost_id}">view post</a><br>
  <span th:if="${post.hasImage()}">
                <img th:src="'data:image/jpeg;base64,' + ${post.convertToBase64()}" alt="" style="width: 500px; height: 500px"><br>
            </span>
  <span th:text="'tags: '+${post.getTags()}"></span>
</div>

</body>
</html>