<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/posts">posts</a>
    <a href="/upload">upload</a>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="/my_profile">my profile</a>
    <a href="/search?tags=">search</a>
</div>
<form enctype="multipart/form-data" action="/uploadImage" method="post" th:if="${!currentUser.isBanned()}">
    <input type="text" name="text">
    <input type="text" name="tags" placeholder="tags, divided by coma">
    <input type="file" name="image">
    <button type="submit">Upload</button>
</form>
<form th:unless="${!currentUser.isBanned()}">
    <span>You are banned and cannot upload</span>
</form>
<span th:text="${uploadError}"/>
</body>
</html>